root = true

[*]
# end_of_line = lf
# charset = utf-8
# insert_final_newline = true
indent_style = space
indent_size = 4
tab_width = 8

[{*vimrc,*.{c,cpp,css,go,h,hs,html,js,nim,py,scala,ts,vim}}]
trim_trailing_whitespace = true

[{Makefile,.gitconfig*}]
indent_style = tab
indent_size = 8

[*.go]
indent_style = tab
tab_width = 4

[{*vimrc,*.{html,vim}}]
indent_size = 2
